*{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100%;
    height: 80 px;
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
    box-shadow: #000000;
}

header{
    background-image: url(images/background3.png);
    position: center center;
    display: flex;
    flex-direction: column;
    background-size: cover;
    -webkit-background-size: cover;
    width: 100%;
    height: 100vh;
}

.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav-area li{
    display: inline-block;
}

.nav-area li a{
    color: #ffffff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.nav-area li a:hover{
    background: #000;
    color: #ffffff;
}

.nav-area li .active{
    color: #9f9da3;
}

.logo img{
    width: 100px;
    float: left;
    height: auto;
}

.message{
    text-align: center;
    position: relative;
}




/*
*{
    margin: 0;
    padding: 0;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

header{
    background-image: url(images/background3.png);
    position: center center;
    display: flex;
    background-size: cover;
    -webkit-background-size: cover;
    width: 100%;
    height: 100vh;
}

/*.wrapper{
    width: 100%;
    height: 80 px;
    box-sizing: border-box;
}*/

/*
#logo{
    width: 100px;
    float: left;
    height: auto;
}
.wrapper{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #f8f8fa;
}

.right-align{
    position: right;
}

.navbar-nav a{
    font-size: 20px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
}

.navbar-nav a:hover{
    background: black;
    color: white;
}

.navbar-text{
    padding: 20px;
    color: black;
}

.bg-{
    background: rgba(39, 37, 37, 0.2);
}

#disabled-link{
    display:none;
}

*/