*{
    margin: 0;
    padding: 0;
}

/*header{
    background-image: url(images/background.png);
    position: center center;
    display: flex;
    flex-direction: column;
    background-size: cover;
    -webkit-background-size: cover;
    width: 100%;
    height: 80vh;
}

/* Navigation css */

.navbar{
    /*background: rgba(0,0,0,.5);*/
    /*background: linear-gradient((0,0,0,.8),(0,0,0,.0));*/
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.829) 0%,rgba(73, 72, 72, 0) 100%);
}

.navbar-brand{
    margin-left: 15px;
}

.navbar-toggler{
    margin-right: 15px;
}

@media (max-width: 767px) {
    .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse {
        background-color: rgba(243, 234, 109, 0.753);
    }
} 

.navbar-nav{
    vertical-align: top;
}

/*.navbar-text{
    
}*/

.nav-link{
    color: rgb(246, 246, 246) !important;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 15px;
    margin-right: 15px;
}

.navbar-nav .active{
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #ffffff !important;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.navbar-nav li a:hover{
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #ffffff !important;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    transition: all .2s ease-out ;
}

/* Banner Area Css */

/*.welcome{
    color: white;
    font-size: 50px;
    position: center;
    text-align: center;
    top: 50%;
}

.message{
    color: white;
    font-size: 30px;
    position: center;
    text-align: center;
    top: 70%;
}

.contact{
    font-size: 40px;
    border: 2px;
    border-width: 2px;
    border-color: #ffffff;
    border-style: solid;
    position: center;
    text-align: center;
}

.contact a{
    text-decoration: none;
    color: white;
}*/

.d-block{
    width:100%;
    height: 400px;
}

.carousel-caption {
    transform: translateY(-50%);
    bottom: initial;
    top: 55%;
}

.carousel-caption h1{
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    letter-spacing: 3px;
}

.carousel-caption p{
    font-size: 25px;
}

