*{
    margin: 0;
    padding: 0;
}

header{
    background-image: url(images/background3.png);
    position: center center;
    display: flex;
    flex-direction: column;
    background-size: cover;
    -webkit-background-size: cover;
    width: 100%;
    height: 100vh;
}

.navbar{
    background: rgba(0,0,0,.5);
}

.navbar-brand{
    margin-left: 15px;
}

.nav-link{
    color: rgb(246, 246, 246) !important;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 15px;
    margin-right: 15px;
}

.navbar-nav li a:active{
    color: #3af8a9ec;
}

.navbar-nav li a:hover{
    background: #3af8a9ec;
    color: #000000 !important;
}