*{
    margin: 0;
    padding: 0;
}

header{
    background-image: url(images/background3.png);
    position: center center;
    display: flex;
    flex-direction: column;
    background-size: cover;
    -webkit-background-size: cover;
    width: 100%;
    height: 100vh;
}

.navbar-green{
    background-color: #70b2d9;
background-image: var-(linear-gradient(315deg, #70b2d9 0%, #39e5b6 74%));
}